import React from 'react';
import CSSModules from 'react-css-modules';
import { observer, useLocalStore } from 'mobx-react';
import { Card, Table, Tag, Button, Row } from 'antd';
import { useStore } from '@/store/index';

import styles from '<%= stylePath%>';

function <%= modelName%>Page() {
  const localStore = useLocalStore(() => ({
    list: [],
  }));

  const columns = [
    {
      title: 'Name',
      dataIndex: 'name',
      key: 'name',
      render: (text) => <a>{text}</a>,
    },
    {
      title: 'Age',
      dataIndex: 'age',
      key: 'age',
    },
    {
      title: 'Address',
      dataIndex: 'address',
      key: 'address',
    },
    {
      title: 'Tags',
      key: 'tags',
      dataIndex: 'tags',
      render: (tags) => (
        <span>
          {tags.map((tag) => {
            let color = tag.length > 5 ? 'geekblue' : 'green';
            if (tag === 'loser') {
              color = 'volcano';
            }
            return (
              <Tag color={color} key={tag}>
                {tag.toUpperCase()}
              </Tag>
            );
          })}
        </span>
      ),
    },
    {
      title: 'Action',
      key: 'action',
      render: (text, record) => (
        <span>
          <a style={{ marginRight: 16 }}>Invite {record.name}</a>
          <a>Delete</a>
        </span>
      ),
    },
  ];

  // const store = useStore('model<%= modelName%>'); // 注意store里面的数据不要使用解构赋值
  // console.log(store);

  return (
    <>
      <Card>
        <Row
          style={{
            marginBottom: 16,
          }}
        >
          <Button type="primary">请求数据</Button>
        </Row>

        <Table columns={columns} dataSource={localStore.list} />
      </Card>
    </>
  );
}

export default observer(
  CSSModules(<%= modelName%>Page, styles, {
    allowMultiple: true,
  }),
);
